form {
    width: 100%;
  
    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }
    .close-btn {
      background-color: #f4f9fd;
      border-radius: 50%;
      padding: 10px;
      border: none;
      content: url(/assets/images/icn-general-add-blue.svg);
      display: flex;
      transform: rotate(45deg);
      float: right;
      -webkit-writing-mode: vertical-rl;
    }
  
    legend {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #7d8592;
    }
    p {
      font-size: 24px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #0a1629;
      padding: 0;
      margin: 7px 0 32px 0;
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        margin-bottom: 24px;
  
        &:nth-child(1) {
          display: flex;
          align-items: center;
        }
        .remove-picture {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #f65160;
          display: inline-flex;
          align-items: center;
          background: none;
          border: none;
  
          &::before {
            content: "";
            background: url(/assets/images/icn-general-delete-red.svg);
            width: 16px;
            height: 16px;
            margin-right: 8px;
            -webkit-writing-mode: vertical-rl;
          }
        }
        &:nth-child(4),
        &:nth-child(5) {
          display: inline-block;
          width: 50%;
        }
        &:nth-child(6) {
          border-radius: 8px;
          background-color: #f4f9fd;
  
          align-items: center;
          padding: 8px 20px 8px 16px;
        }
        &:nth-child(7) {
          border-radius: 8px;
          background-color: #f4f9fd;
  
          align-items: center;
          padding: 8px 20px 8px 16px;
        }
        &:nth-child(9) {
          div {
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 20px;
          }
        }
      }
      label {
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #0a1629;
        display: block;
        margin-left: 12px;
      }
      .file-label {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #3f8cff;
        display: flex;
        align-items: center;
        cursor: pointer;
        &::before {
          content: url(/assets/images/icn-general-add-dark-blue.svg);
          margin-right: 4px;
        }
      }
      input {
        border-radius: 14px;
        box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
        border: solid 1px #d8e0f0;
        background-color: #fff;
        padding: 13px 18px 14px 18px;
        display: block;
        width: 100%;
        margin: 7px 0 27px 0;
        &::placeholder {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          color: #7d8592;
        }
      }
      input[type="checkbox"] {
        border: none;
        box-shadow: none;
        margin: 0;
        display: none;
      }
      input[type="file"] {
        border: none;
        position: absolute;
        width: 35%;
        opacity: 0;
        cursor: pointer;
        display: none;
      }
    }
  }