#frmAddCart {
  width: 100%;
  legend {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #1d2939;
    margin: 32px 0;
  }

  ul {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8px;
    li {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 8px;
      &:nth-child(1){
        grid-column: span 2;
      }
      &:nth-child(2) {
        grid-column: span 2;
        label {
          display: none;
        }
      }
      &:nth-child(3),
      &:nth-child(4) {
        label {
          display: none;
        }
      }
    }
    label {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-align: right;
      color: #1d2939;
      flex: 1 0 100%;
    }
    .file-label {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #3f8cff;
      display: flex;
      align-items: center;
      cursor: pointer;
      &::before {
        content: url(/assets/images/icn-general-add-dark-blue.svg);
        margin-right: 4px;
      }
    }
    input {
      border-radius: 14px;
      box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
      border: solid 1px #d8e0f0;
      background-color: #fff;
      padding: 13px 18px 14px 18px;
      display: block;
      width: 100%;
      margin: 7px 0 5px 0;
      flex: 1 0 10%;
      &::placeholder {
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #7d8592;
        text-align: center;
        font-family: IranSans;
      }
    }



    &:nth-child(3) {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 8px;
      padding: 0 0 0 8px;
      margin-top: 16px;
      
      li {
        width: 100%;
        grid-column: span 1;
        button {
          width: 100%;
          text-align: center;
          padding: 10px 0;
          border-radius: 8px;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      #btnAddNewCart {
        gap: 8px;
        background: #23a26d;
        color: #ffffff;
        border: none;
        &::before {
          content: "";
          background: url(/assets/images/icn-general-add-white.svg);
          width: 20px;
          display: block;
          height: 20px;
        }
      }
      #btnEditNewCart {
        color: #344054;
        background: #ffffff;
        border: 1px solid #d0d5dd;
      }
    }
  }
}
