@import 'add_new_cart','wallet','fonts';

body {
	font-family: IranSans;
	direction: rtl;
	margin: 0;
	background-color: #F4F6F9;
	padding: 16px 16px 24px 16px;
  width: 400px;
}

button {
  font-family: IranSans;
}

section {
    border-radius: 8px;
    box-shadow: 0 16px 32px 0 rgb(209 213 219 / 24%);
    background-color: #fff;
    padding: 32px;
    width: 60%;
    margin: 0 auto 30px auto;
  
    flastio-logo {
      margin: auto;
      display: block;
      width: 100%;
      margin-left: 130px;
      margin-top: 10px;
    }
    .student-signup-img-section {
      background-color: #3f8cff;
      height: 100%;
    }
    div {
      a {
        font-size: 30px;
        font-weight: 200;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-left: 130px;
        margin-top: 50px;
        &::before {
          content: "";
          width: 25px;
          height: 25px;
          border-radius: 8px;
          background-color: #fff;
          margin-right: 24px;
        }
      }
      img {
        width: 100%;
        height: 540px;
        margin-top: 55px;
      }
      h1 {
        font-size: 40px;
        margin-left: 130px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.4;
        letter-spacing: normal;
        color: #fff;
        margin: 0 auto;
        padding: 0;
        margin-left: 130px;
        width: 70%;
        margin-top: 40px;
      }
    }
  }
  
  
  .switch {
    position: relative;
    display: flex !important;
    height: 34px;
    align-items: center;
    white-space: pre;
    justify-content: space-between;
    align-items: center;
    span {
      width: 51px;
      height: 32px;
    }
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: relative;
    cursor: pointer;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .add-detail-student-start {
    padding: 7px 16px;
    border-radius: 14px;
    box-shadow: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
    background-color: #3f8cff;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  
    &::after {
      content: "";
      background: url(/assets/images/icn-general-arrow-left-white.svg);
      width: 30px;
      height: 30px;
      transform: rotate(180deg);
      margin-left: 12px;
      -webkit-writing-mode: vertical-rl;
    }
    transition: 0.5s;
  
    &:hover {
      background-color: #3a81eb;
      transition: 0.5s;
    }
  }
  
  .add-detail-student-skip {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3f8cff;
    background-color: transparent;
  }
  
  @media screen and (max-width: 992px) {
    section {
      width: 92%;
      margin: 0 16px;
      box-sizing: border-box;
    }
    form {
      width: 100%;
      box-sizing: border-box;
      margin: 0;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .add-detail-student-start {
      width: 100%;
    }
    .add-detail-student-skip {
      display: block;
      width: 100%;
      margin-top: 32px;
      margin-bottom: 24px;
    }
  }
  .add-detail-student-btn-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .student-picture-FileUrl {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 16px;
  }
  