@import "fonts";
@import "main";
@import "add_new_cart";
@import "wallet";

details {
  display: flex;
  padding: 8px;
  gap: 16px;
  box-shadow: 0px 8px 16px #eff0f6;
  background-color: #fff;
  width: 400px;
  summary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    color: #1d2939;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    &::before {
      content: "";
      background: url("../images/tabler-icon-circle-plus.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 21px;
    }
  }

  .addCart {
    gap: 8px;
    background: #23a26d;
    color: #ffffff;
    border: none;
    width: 50%;
    text-align: center;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
      background: url(/assets/images/icn-general-add-white.svg);

    }
  }
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: #1d2939;
    padding: 0;
    margin: 16px 0 0 0;
  }

  &[open] {
    summary {
      &::before {
        content: "";
        background: url("../images/tabler-icon-circle-minus.svg");
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 21px;
      }
    }
    .addCart{
      &::before {
        content: "";
        background: url(/assets/images/icn-general-add-white.svg);
   
      }
    }
  }
}

.empty-wallet {
  background: #ffffff;
  box-shadow: 0px 8px 16px #eff0f6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px;
  margin: 32px 8px;
  &::before {
    content: "";
    background: url("../images/tabler-icon-credit-card.svg");
    width: 48px;
    height: 48px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  &::after {
    content: "هنوز کارتی اضافه نکرده‌اید!";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #868b91;
  }
}