@charset "UTF-8";
@font-face {
  font-family: IranSans;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/IRANSansWeb_FaNum.woff2") format("woff2");
}
body {
  font-family: IranSans;
  direction: rtl;
  margin: 0;
  background-color: #f5f7f9;
  padding-bottom: 32px;
}

button {
  font-family: IranSans;
}

h2 {
  display: none;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
  padding: 0;
}
dl dt {
  display: none;
}
dl dd {
  margin: 0;
  padding: 0;
}

#frmAddCart {
  width: 100%;
}
#frmAddCart legend {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #1d2939;
  margin: 32px 0;
}
#frmAddCart ul {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
}
#frmAddCart ul li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
#frmAddCart ul li:nth-child(1) {
  grid-column: span 2;
}
#frmAddCart ul li:nth-child(2) {
  grid-column: span 2;
}
#frmAddCart ul li:nth-child(2) label {
  display: none;
}
#frmAddCart ul li:nth-child(3) label, #frmAddCart ul li:nth-child(4) label {
  display: none;
}
#frmAddCart ul label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #1d2939;
  flex: 1 0 100%;
}
#frmAddCart ul .file-label {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #3f8cff;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#frmAddCart ul .file-label::before {
  content: url(/assets/images/icn-general-add-dark-blue.svg);
  margin-right: 4px;
}
#frmAddCart ul input {
  border-radius: 14px;
  box-shadow: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
  border: solid 1px #d8e0f0;
  background-color: #fff;
  padding: 13px 18px 14px 18px;
  display: block;
  width: 100%;
  margin: 7px 0 5px 0;
  flex: 1 0 10%;
}
#frmAddCart ul input::-moz-placeholder {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #7d8592;
  text-align: center;
  font-family: IranSans;
}
#frmAddCart ul input::placeholder {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #7d8592;
  text-align: center;
  font-family: IranSans;
}
#frmAddCart ul:nth-child(3) {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
  padding: 0 0 0 8px;
  margin-top: 16px;
}
#frmAddCart ul:nth-child(3) li {
  width: 100%;
  grid-column: span 1;
}
#frmAddCart ul:nth-child(3) li button {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#frmAddCart ul:nth-child(3) #btnAddNewCart {
  gap: 8px;
  background: #23a26d;
  color: #ffffff;
  border: none;
}
#frmAddCart ul:nth-child(3) #btnAddNewCart::before {
  content: "";
  background: url(/assets/images/icn-general-add-white.svg);
  width: 20px;
  display: block;
  height: 20px;
}
#frmAddCart ul:nth-child(3) #btnEditNewCart {
  color: #344054;
  background: #ffffff;
  border: 1px solid #d0d5dd;
}

#secWallet h2 {
  display: block;
}

#ulWallet {
  padding: 16px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
}
#ulWallet li {
  padding: 8px;
  background: #ffffff;
  border: 1px solid #ecf0f3;
  box-shadow: 0px 8px 16px #eff0f6;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ulWallet li dl {
  display: grid;
  grid-template-columns: 50% 50%;
}
#ulWallet li dl .bank-logo {
  width: 28px;
  height: 28px;
  background-size: contain;
  margin-right: auto;
}
#ulWallet li dl dd:nth-child(2) {
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  text-align: right;
  color: #868b91;
}
#ulWallet li dl dd:nth-child(6) {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #1d2939;
  grid-column: span 2;
  margin: 16px 0;
}
#ulWallet li ul li {
  border: none;
  box-shadow: none;
}
#ulWallet .btnUseCart {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #344054;
  padding: 8px 0;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  cursor: pointer;
}
#ulWallet .btnRemoveCart {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f0eff3;
  display: inline-flex;
  align-items: center;
  background: #b39b9d;
  border: none;
  display: none;
  cursor: pointer;
}
#ulWallet .btnRemoveCart::before {
  content: "";
  background: url(/assets/images/icn-general-delete-red.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  -webkit-writing-mode: vertical-rl;
}

details {
  display: flex;
  padding: 8px;
  gap: 16px;
  box-shadow: 0px 8px 16px #eff0f6;
  background-color: #fff;
}
details summary {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  color: #1d2939;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
details summary::before {
  content: "";
  background: url("../images/tabler-icon-circle-plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 21px;
}
details .addCart {
  gap: 8px;
  background: #23a26d;
  color: #ffffff;
  border: none;
  width: 50%;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
details .addCart::before {
  background: url(/assets/images/icn-general-add-white.svg);
}
details p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  color: #1d2939;
  padding: 0;
  margin: 16px 0 0 0;
}
details[open] summary::before {
  content: "";
  background: url("../images/tabler-icon-circle-minus.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 21px;
}
details[open] .addCart::before {
  content: "";
  background: url(/assets/images/icn-general-add-white.svg);
}

.empty-wallet {
  background: #ffffff;
  box-shadow: 0px 8px 16px #eff0f6;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 16px;
  margin: 32px 8px;
}
.empty-wallet::before {
  content: "";
  background: url("../images/tabler-icon-credit-card.svg");
  width: 48px;
  height: 48px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.empty-wallet::after {
  content: "هنوز کارتی اضافه نکرده‌اید!";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #868b91;
}/*# sourceMappingURL=index.css.map */