#ulWallet {
  list-style: none;
  margin: 16px 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  li {
    margin: 0;
    padding: 0;
    flex: 1 0 40%;
    padding: 8px;
    background: #ffffff;
    border: 1px solid #ecf0f3;
    box-shadow: 0px 8px 16px #eff0f6;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    dl{
      .bank-logo{
        width: 40px;
        height: 40px;
        background-size: contain;
      }
    }
  }
  b {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #1d2939;
  }
  .btnUseCart {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #344054;
    padding: 8px 0;
    background: #ffffff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    border-radius: 8px;

    // &::before {
    //   content: "";
    //   background: url(/assets/images/move-up-blue.svg);
    //   width: 25px;
    //   height: 25px;
    //   margin-left: 8px;
    //   -webkit-writing-mode: vertical-rl;
    // }
    cursor: pointer;
  }
  .btnRemoveCart {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #f0eff3;
    display: inline-flex;
    align-items: center;
    background: #b39b9d;
    border: none;

    &::before {
      content: "";
      background: url(/assets/images/icn-general-delete-red.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 25px;
      height: 25px;
      margin-right: 8px;
      -webkit-writing-mode: vertical-rl;
    }
    cursor: pointer;
  }
}
